body {
    margin: 0;
    display: block;
    padding: 0 2rem;
}

ul {
    list-style: none;
    padding: 0;
}

/*Header*/

.header-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header-section__title {
    text-align: center;
}

.header-section__description {
    text-align: center;
}

/*Nav*/

.nav-ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0;
}

/*Main*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Footer*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-section {
    
}

.footer-ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0;
}